# Environment variables for the application
NODE_ENV=
PORT=

# Email server connection
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=

# Address shown as the sender
EMAIL_FROM_NAME=
EMAIL_FROM_ADDRESS=

# Whether to verify the email connection on startup or wait for the first email to be sent.
VERIFY_EMAIL_ON_STARTUP=false