.clover-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}

.clover-form-field {
    flex: 1;
    margin-top: 1rem;
    min-width: 200px;
}

.clover-form-error {
    color: #d32f2f;
    margin-top: -0.5rem;
}

.clover-pay {
  margin-top: 1rem;
}

.clover-field {
  height: 60px;
  width: calc(100% + 20px);
  margin-left: -10px;
}